<div class="form">
  <h3>Settings</h3>
  <form class="container">
    <div class="input">
      <div class="inputsFields">
        <label for="nom">Name:</label>
        <input type="text" id="nom" name="nom" [(ngModel)] = "user.name" required />
      </div>
      <div class="inputsFields">
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" [(ngModel)] = "user.email" required />
      </div>
      <div class="inputsFields">
        <label for="telephone">Phone Number:</label>
        <input type="text" id="phone" name="telephone" [(ngModel)] = "user.phone" required />
      </div>
      <div class="inputsFields">
        <label for="adresse">Role:</label>
        <input type="text" id="adresse" name="role" [(ngModel)] = "this.UserRole"   required />
      </div>
    </div>
    <div class="buttons-container">
      <button class="update-button" (click)="handleUpdate()">Update Account</button>
      <button class="delete-button" *ngIf="role != 2" (click)="handleDelete()">Delete Account</button>
    </div>
  </form>
</div>
