  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">TekShop est une plateforme de comparaison de prix dédiée aux produits électroniques tels que les téléphones, les ordinateurs, les téléviseurs, les appareils photo, ainsi qu'aux appareils électroménagers, notamment les réfrigérateurs, les machines à laver, les cuisinières et les aspirateurs. </div>

        <div class="col-xs-6 col-md-3">
          
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><i class="fa fa-circle"></i>
              <a href="">Télévision</a></li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Ordinateur</a></li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Appareil photo</a></li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Smartphones</a></li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Réfrigérateurs</a></li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Lave linge</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>informations</h6>
          <ul class="footer-links" id="informations">
            <li>                 
              <i class="fa fa-home"> </i>
              <span class="heading">Adress </span>
              <span class="address"> 71 Av. Jean Jaurès, Tunis</span>
            </li>
            <li>
              <i class="fa fa-envelope">  </i>
                <span class="heading"> Mail  </span>
                <span class="email">
                  <a href="mailto:exemple@gmail.com">   tekshop@gmail.com</a>
                </span>

            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone  </span>
              <span class="number">
                <a href="tel:1-888-345-6799">+216 27 452 919</a>
              </span>
            </li>
          </ul>
        </div>
      </div>


      <div class="row">
        <div class=" col-md-4  col-sm-6 col-xs-12 ">
          <button id="sign-in-admin">Sign in</button>

        </div>
      </div> 
      
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
            <a href="https://capit.agency" target="_blank" class="capit-link">TEKSHOP</a>
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/capit.agency/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.instagram.com/capit.odoo/"><i class="fab fa-instagram"></i></a></li>
            <li><a class="dribbble" href="https://capit.agency/contact/"><i class="fab fa-google"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/capit_tn/"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
       
        </div>

       

      </div>

      

    </div>
</footer>